{% extends "layout.html" %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <div id="todos">
        <div v-cloak>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody v-if="todoList.length">
                    <tr v-for="todo in todoList" :key="todo.id">
                        <td>${ todo.id }</td>
                        <td>${ todo.user_id }</td>
                        <td>
                            <a :href="`{{ app.request.baseurl }}/todo/${todo.id}`">
                                ${ todo.description }
                            </a>
                        </td>
                        <td>
                            <button @click="deleteTodoItem" class="btn btn-xs btn-danger" :data-id="todo.id">x</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="error">
                <div class="alert alert-danger">${error}</div>
            </div>
            <form class="form-inline" @submit.prevent="addTodoItem">
                <div class="form-group">
                    <input v-model="todoItem" class="form-control" name="description" placeholder="Description..." required/>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}